body {
  background:#0b1d39;
  color:white;
  font-family:Arial;
  padding:20px;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-card, .section {
  background:#13294b;
  padding:20px;
  border-radius:12px;
  margin:15px 0;
}

input {
  width:100%;
  padding:10px;
  margin:5px 0;
  border-radius:8px;
  border:none;
}

button {
  background:#ff9900;
  color:#0b1d39;
  border:none;
  padding:10px;
  border-radius:8px;
  font-weight:bold;
  cursor:pointer;
}

nav button {
  margin-right:5px;
}

.hidden {
  display:none;
}

ul {
  list-style:none;
  padding:0;
}

li {
  background:#1a2b4d;
  margin:5px 0;
  padding:8px;
  border-radius:8px;
}
